#div0 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div1 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div2 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div3 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div4 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div5 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div6 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div7 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#div8 {
    font-weight: 100;
    font-size: 120px;
    text-align: center;
    border: 5px;
    border-color: black;
    max-width: 233px;
    max-height: 233px;
    min-width: 233px;
    min-height: 233px;
}
#rowDiv {
    max-height: 700px;
    max-width: 700px;
    align-content: center;
}
#contDiv{
    margin-top: 50px;
}
#loseDiv {
    font-size: 150px;
}
#winDiv {
    font-size: 190px;
}
#startButton {
    margin-top: 400px;
    margin-left: 400px;
    width: 400px;
    height: 130px;
    border-radius: 20px;
    font-size: 50px;
}

#btn {
    border-color: white;
    color: white;
    background-color: white;
    margin-left: 900px;
}
